.container {
  padding-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  // mobile style
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  // tablet-style
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  // desctop
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.section {
  &:nth-child(2n + 1) {
    background-color: #fef8ef;
  }
}
