.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  z-index: 99;
  margin: 0;

  transition: backdrop-filter $anim-slow, background-color $anim-slow;
  @media screen and (min-width: 768px) {
  }
}
.header__logo {
  margin-left: 20px;
}
.header.no-transparency {
  backdrop-filter: blur(4px);
  background-color: $background-blur;
}
.nav__menu {
  display: flex;
}
.logo__img {
  width: 60px;
  height: 60px;
}
