.header {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  margin: 0;
  backdrop-filter: blur(4px);
  background-color: $background-blur;

  @media screen and (min-width: 768px) {
  }
}
.header__logo {
  margin-left: 20px;
}

.nav__menu {
  display: flex;
  gap: 32px;
}
.logo__img {
  width: 60px;
  height: 60px;
}
.nav__menu__link {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.18px;
}
