.services__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.services__image__box {
  height: 320px;
  overflow: hidden;
}
.services__image {
}
.services__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1199px) {
    width: calc((100% - 30px) / 2);
  }
}
