.title {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  text-decoration: underline;
  font-weight: 700;
  line-height: 1.4; /* 56px */
  letter-spacing: 0.4px;
  margin-bottom: 20px;
}
p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.56px;
}
