h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

li {
  list-style: none;
}

.link {
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  z-index: 99;
  margin: 0;
  transition: background-color 400ms ease-in, -webkit-backdrop-filter 400ms ease-in;
  transition: backdrop-filter 400ms ease-in, background-color 400ms ease-in;
  transition: backdrop-filter 400ms ease-in, background-color 400ms ease-in, -webkit-backdrop-filter 400ms ease-in;
}
.header__logo {
  margin-left: 20px;
}

.header.no-transparency {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: rgba(243, 197, 161, 0.6);
}

.nav__menu {
  display: flex;
}

.logo__img {
  width: 60px;
  height: 60px;
}

.price {
  padding: 84px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .price {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .price {
    padding: 120px 0;
  }
}

.price-block {
  margin-bottom: 44px;
}
@media screen and (max-width: 767px) {
  .price-block {
    padding: 30px 40px;
    font-size: 14px;
  }
}
@media screen and (max-width: 1199px) {
  .price-block {
    padding: 32px 40px;
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (min-width: 1200px) {
  .price-block {
    display: flex;
    justify-content: space-between;
    perspective: 1000px;
  }
}

@media screen and (max-width: 1199px) {
  .price-list {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .price-list {
    flex-basis: 570px;
    padding: 30px 20px;
    transition: transform 400ms ease;
  }
}
.price-list:hover {
  cursor: pointer;
  transform: rotateY(0);
}
@media screen and (min-width: 1200px) {
  .price-list:first-child {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    transform: rotateY(15deg);
    transform-origin: left center;
  }
}
.price-list:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .price-list:last-child {
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
    transform: rotateY(-15deg);
    transform-origin: right center;
  }
}
.price-list:hover {
  cursor: pointer;
  transform: rotateY(0);
}

.price-item {
  display: flex;
  align-items: baseline;
  gap: 16px;
  color: var(--grey-cl);
}
@media screen and (max-width: 1199px) {
  .price-item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .price-item {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .price-item:last-child {
    margin-bottom: 0;
  }
}
.price-item::before {
  content: "";
  display: block;
  height: 1px;
  flex-grow: 1;
  background-color: rgba(157, 164, 189, 0.12);
}

.price-item-serv {
  order: -1;
}

.hero {
  padding-top: 180px;
  padding-bottom: 180px;
  background-image: url("../img/background-hero.jpg");
  background-position: center;
}

.hero__content {
  max-width: 448px;
  margin-left: 20px;
}

.hero__title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.64px;
  margin-bottom: 8px;
}

.hero__uppertitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.16px;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    display: none;
  }
}

.menu__icon {
  fill: #f14902;
}

.menu {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 767px) {
  .menu {
    display: none;
  }
}

.js-open-menu {
  position: fixed;
  top: 10px;
  right: 15px;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
  padding-right: 40px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 250ms linear;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: rgba(243, 197, 161, 0.6);
}
.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}/*# sourceMappingURL=styles.css.map */